@model Forum.UI.ViewModels.TopicListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Topic List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Topic" asp-action="Create" asp-route-communityId="@Model.CommunityId" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Topic
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Topic Name
            </th>
            <th>
                Community Name
            </th>
            <th>
                Created At
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Topics)
        {
            <tr id="topic-@obj.Id">
                <td width="20%">
                    <a asp-controller="Post" asp-action="IndexByTopic"  asp-route-topicId="@obj.Id" style="text-decoration:none; color:navy">
                        @obj.TopicName
                    </a>
                </td>
                <td width="20%">
                    <a asp-controller="Post" asp-action="Index" asp-route-communityId="@obj.CommunityId" style="text-decoration:none; color:navy">
                        @obj.CommunityName
                    </a>
                </td>
                <td width="40%">
                    @obj.CreatedAt.Day.@obj.CreatedAt.Month.@obj.CreatedAt.Year @obj.CreatedAt.DayOfWeek
                </td>
                <td width="10%">
                    <div>
                        <a asp-controller="Topic" asp-action="Edit" asp-route-communityId="@obj.CommunityId" asp-route-topicId="@obj.Id" style="text-decoration:none; color:navy">
                            <i class="bi bi-pencil-square" style="color:orange"></i> Edit</a>
                    </div>
                </td>
                <td width="10%">
                    <div>
                        <button class="openModal" style="background-color: inherit; border: none; color: darkred;" data-topicId="@obj.Id">
                            <i class="bi bi-x-circle" style="color:darkred"></i> Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_DeleteOptionsModalTopic" />

<script>
    $(document).ready(function () {
        //Open Delete Modal
        $(".openModal").each(function () {
            var button = $(this);
            var topicId = button.attr("data-topicId");

            button.click(function () {
                $("#deleteOptionsModal").modal("show");
                $("#deleteId").val(topicId);
            });
        });
    });

    $(document).ready(function () {
        //Show the select list or hide it
        $('input[name="deleteOption"]').change(function () {
            var selectList = $("#selectTopicList");

            if ($("#transferPosts").is(":checked")) {
                selectList.removeClass("d-none").show();
            } else {
                selectList.addClass("d-none").hide();
            }
        });
    });

    $(document).ready(function () {
        //Load the topics into the select list
        $(document).on("click", ".openModal", function () {
            var topicList = $("#topics");
            var topicId = $("#deleteId").val();

            $.ajax({
                type: "GET",
                url: "/Topic/GetTopics",
                data: { topicId: topicId },
                dataType: "json",
                success: function (data) {
                    topicList.html('<option value="">Select a Topic</option>');
                    data.forEach(topic => {
                        var option = document.createElement("option");
                        option.value = topic.value;
                        option.textContent = topic.text;
                        topicList.append(option);
                    });
                }, error: function () {
                    toastr.error("Error loading topics.");
                }
            });
        });
    });

    $(document).ready(function () {
        $(document).on("click", "#confirmDeleteOption", function () {
            var isTransfer = $("#transferPosts").is(":checked");
            var isDeleteEverything = $("#deleteEverything").is(":checked");
            var topicId = $("#deleteId").val();
            var token = $('#deleteOptionsModal input[name="__RequestVerificationToken"]').val();

            if (isDeleteEverything) {
                $.ajax({
                    type: "POST",
                    url: "/Topic/DeleteTopicCascading",
                    data: { 
                        topicId: topicId, 
                        __RequestVerificationToken: token
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#deleteOptionsModal").modal("hide");
                            $("#topic-" + topicId).remove();
                            toastr.success(response.message);
                        } else {
                            toastr.error("Error: " + response.message);
                        }
                    },
                    error: function () {
                        toastr.error("Error deleting community.");
                    }
                });
            }

            if (isTransfer) {
                var selectedTopic = $("select#topics").children("option:selected").val();

                $.ajax({
                    type: "POST",
                    url: "/Topic/ChangePostsTopic",
                    data: { 
                        oldTopicId: topicId,
                        newTopicId: selectedTopic,
                        __RequestVerificationToken: token
                    },
                    success: function (response) {
                        if (response.success) {
                            toastr.success(response.message);
                        } else {
                            toastr.error("Error: " + response.message);
                        }
                    },
                    error: function () {
                        toastr.error("Error transferring posts to new topic.");
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "/Topic/DeleteTopic",
                    data: { 
                        topicId: topicId,
                        __RequestVerificationToken: token
                    },
                    success: function (response) {
                        if (response.success) {
                            $("#deleteOptionsModal").modal("hide");
                            $("#topic-" + topicId).remove();
                            toastr.success(response.message);
                        } else {
                            toastr.error("Error: " + response.message);
                        }
                    },
                    error: function () {
                        toastr.error("Error deleting topic.");
                    }
                });
            }

        });
    });
</script>