@model Forum.UI.ViewModels.TopicListViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Topic List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Topic" asp-action="Create" asp-route-communityId="@Model.CommunityId" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New Topic
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Topic Name
            </th>
            <th>
                Community Name
            </th>
            <th>
                Created At
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.Topics)
        {
            <tr id="topic-@obj.Id">
                <td width="20%">
                    <a asp-controller="Post" asp-action="IndexByTopic"  asp-route-topicId="@obj.Id" style="text-decoration:none; color:navy">
                        @obj.TopicName
                    </a>
                </td>
                <td width="20%">
                    <a asp-controller="Post" asp-action="Index" asp-route-communityId="@obj.CommunityId" style="text-decoration:none; color:navy">
                        @obj.CommunityName
                    </a>
                </td>
                <td width="40%">
                    @obj.CreatedAt.Day.@obj.CreatedAt.Month.@obj.CreatedAt.Year @obj.CreatedAt.DayOfWeek
                </td>
                <td width="10%">
                    <div>
                        <a asp-controller="Topic" asp-action="Edit" asp-route-communityId="@obj.CommunityId" asp-route-topicId="@obj.Id" style="text-decoration:none; color:navy">
                            <i class="bi bi-pencil-square" style="color:orange"></i> Edit</a>
                    </div>
                </td>
                <td width="10%">
                    <div>
                        <button class="openModal" style="background-color: inherit; border: none; color: darkred;" data-topicId="@obj.Id">
                            <i class="bi bi-x-circle" style="color:darkred"></i> Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteConfirmationModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modalContent"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Open Delete Modal
        $(".openModal").each(function () {
            var button = $(this);
            var topicId = button.attr("data-topicId");

            button.click(function () {
                $.ajax({
                    type: "GET",
                    url: "/Topic/Delete",
                    success: function (data) {
                            $("#modalContent").html(data);
                            $("#deleteModal").modal("show");
                            $("#deleteId").val(topicId);
                    }, error: function () {
                        toastr.error("Error opening the modal.");
                    }
                });
            });
        });
    });

    $(document).ready(function () {
        //Delete the Topic
        $(document).on("click", "#confirmDelete", function () {
            var topicId = $("#deleteId").val();
            var token = $('input[name="__RequestVerificationToken"]').val(); // Get CSRF token

            $.ajax({
                type: "POST",
                url: "/Topic/DeleteTopic",
                data: { 
                    topicId: topicId, 
                    __RequestVerificationToken: token // Include CSRF token
                },
                success: function (response) {
                    if (response.success) {
                        $("#deleteModal").modal("hide");
                        $("#topic-" + topicId).remove();
                        toastr.success(response.message);
                    } else {
                        toastr.error("Error: " + response.message);
                    }
                },
                error: function () {
                    toastr.error("Error deleting topic.");
                }
            });
        });
    });
</script>