@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Forum.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <link rel="stylesheet" href="~/css/navbarPosts.css" />
    <link rel="stylesheet" href="~/css/langChange.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Forum</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Community" asp-action="Index">@Localizer["Communities"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Post" asp-action="Index">@Localizer["Posts"]</a>
                        </li>
                        <li class="nav-item mx-2">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="commBut">
                                    @Localizer["SelectCommunityTopic"]
                                </button>
                                <ul class="dropdown-menu" id="commMenu">
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ms-auto mt-2">
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    @if (CultureInfo.CurrentCulture.Name == "en-US") {@("English")}
                                    @if (CultureInfo.CurrentCulture.Name == "tr-TR") {@("Türkçe")}
                                </button>
                                <ul class="dropdown-menu" id="langMenu">
                                    <li class="dropdown-item langItem">
                                        <a class="langChange" data-id="en-US" style="color: black;">English</a>
                                    </li>
                                    <li class="dropdown-item langItem">
                                        <a class="langChange" data-id="tr-TR" style="color: black;">Türkçe</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <div id="navbarPostsCont"></div>
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Forum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function () {
        $(document).on("click", ".langChange", function () {
            let culture = $(this).data("id");

            $.ajax({
                type: "POST",
                url: "/Home/SetLanguage",
                data: { 
                    culture: culture
                },
                success: function (response) {
                    if (response.success) {
                        console.log(response.message);
                        location.reload();
                    } else {
                        toastr.error("Error: " + response.message);
                    }
                },
                error: function () {
                    toastr.error("Error setting the language.");
                }
            });
        });
    });

    $(document).ready(function () {
        let communities;
        let topics;

        $.ajax({
            type: "GET",
            url: "/Home/GetCommunitiesTopics",
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    console.log(response.message);
                    communities = response.communities;
                    topics = response.topics;
                    displayDropdown(communities, topics);
                } else {
                    toastr.error("Error: " + response.message);
                }
            },
            error: function () {
                toastr.error("Error loading the Communities/Topics.");
            }
        });

        function displayDropdown(communities, topics) {
            var commMenu = $("#commMenu");
            commMenu.html("");

            communities.forEach(community => {
                var option = `<li class="dropend comm">
                                <a class="dropdown-item dropdown-toggle">${community.communityName}</a>
                                <ul class="dropdown-menu topMenu" data-communityId="${community.id}">
                                </ul>
                            </li>`;

                commMenu.append(option);
            });

            topics.forEach(topic => {
                var comm = $(`.topMenu[data-communityId="${topic.communityId}"]`);
                var topicItem = buildTopicItem(topic);
                comm.append(topicItem);
            });

            $(".dropdown-toggle").dropdown();
        }

        function buildTopicItem(topic) {
            var subtopicsHtml = "";

            if (topic.subtopics && topic.subtopics.length > 0) {
                subtopicsHtml += `<ul class="dropdown-menu">`;
                topic.subtopics.forEach(subtopic => {
                    subtopicsHtml += buildTopicItem(subtopic);
                });
                subtopicsHtml += `</ul>`;
            }

            return `<li class="dropend topicList" data-topicId="${topic.id}">
                        <a class="dropdown-item dropdown-toggle" data-topicId="${topic.id}">${topic.topicName}</a>
                        ${subtopicsHtml}
                    </li>`;
        }

        $(document).on("click", ".topicList", function () {
            var top = $(this).attr("data-topicId");

            var container = $(".container:first");

            $.ajax({
                type: "GET",
                url: "/Home/ListPosts",
                data: {topicId: top},
                success: function (response) {
                    container.html(response);
                    container.show();
                },
                error: function () {
                    toastr.error("Error loading the Posts.");
                }
            });
        });
    });
</script>