@model Forum.UI.ViewModels.PostListViewModel

@{
    ViewData["Title"] = "Index";
}

<h2 style="color:darkgreen">@Model.CommunityName <span style="color:darkred">Posts</span></h2>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <a asp-controller="Community" asp-action="Index" class="btn btn-dark">Back to Communities</a>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Post" asp-action="Create" asp-route-communityId="@Model.CommunityId" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Post Something
            </a>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Post Title</th>
            <th>Description</th>
            <th>Created At</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model.Posts)
        {
            @if(post.ImagePath != null || post.ImagePath != "")
            {
                <img src="@post.ImagePath" alt="@post.PostTitle" />
            }
            <tr>
                <td>@post.PostTitle</td>
                <td>@post.PostDescription</td>
                <td>@post.CreatedAt.Day.@post.CreatedAt.Month.@post.CreatedAt.Year @post.CreatedAt.DayOfWeek</td>
                <td>
                    <div>
                        <a asp-controller="Post" asp-action="Edit" asp-route-id="@post.Id" asp-route-communityId="@post.CommunityId" 
                        style="text-decoration:none; color:navy">
                            <i class="bi bi-pencil-square" style="color:orange"></i> Edit
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <a asp-controller="Post" asp-action="Delete" asp-route-id="@post.Id" asp-route-communityId="@post.CommunityId"
                        style="text-decoration:none; color:darkred">
                            <i class="bi bi-x-circle" style="color:darkred"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>